
<h2 class="avaDro">Available Drones</h2>
<div class="row">
    {{#each drone}}
    
    <div class ="col-md-4" id="colunas">
         <div class="info">
            <h2 id="droneName">{{name}}</h2>
            <p> Propellers: {{propellers}}</p>
            <p> Max Speed: {{maxSpeed}}</p>
         </div>
        <br/>
        <div class="butoes">
     <a href="/drones/{{id}}/edit" class="btn btn-outline-danger">Edit Drone</a>
        <br/>
        <form action="/drones/{{id}}/delete" method="post">
         <button class="btn btn-outline-danger" type="submit">Delete</button>
        </form>
        <br/>
        </div>
    </div>
    {{/each}}
    </div>
    
